{{#if inEditMode }}
    <form {{action "updateModel" title modelItem on="submit" }}>
      {{input value=title placeholder=placeholder autofocus="true" focus-out="lostFocus" escape-press="lostFocus"}}
    </form>
{{else}}
  {{yield}}
{{/if}}