<h2 id="title">Welcome to EmberTrello</h2>
<div class="row">
  {{#link-to 'boards' class='' }}
      Boards
  {{/link-to}}
</div>
<div class="row"></div>
<div class="row">{{outlet}}
</div>
{{outlet 'overlay-popup' }}