<div class="row">
  <h3>Boards List</h3>
  <ul>
  {{# each item in model}}
    <li>{{#link-to "board" item }}{{item.title}}{{/link-to}}</li>
  {{/each}}
  </ul>
</div>
<div class="row">{{outlet}}</div>
