<h2>{{model.title}}</h2>
{{#inline-model-creator modelType="list"
    parentModelType="board"
    parentId=model.id
    action="createNewModel"
    placeholder='Enter new list title'
}}
    <span>+ Add List</span>
{{/inline-model-creator}}
<div class="row">
    {{#each item in model.lists}}
      <div class="lists">
          <div class="list">
            <h3>{{item.title}}</h3>
            <div class="list__cards">
                {{#each card in item.cards}}
                  {{list-card card=card}}
                {{/each}}
                {{#inline-model-creator modelType="card"
                  parentModelType="list"
                  parentId=item.id
                  action="createNewModel"
                  placeholder='Enter new card title'
                }}
                    <span>+ Add Card</span>
                {{/inline-model-creator}}
            </div>
          </div>
      </div>
    {{/each}}
</div>
{{outlet}}
