.list{
  min-height: 100px;
  padding: 10px;
  width: 200px;
  background-color: #E2E4E6;
  margin: 0px 0px 10px;
  border-radius: 2px;
}

.card{
  padding: 5px;
  cursor: move;
  margin: 0px 0px 10px;
  background-color: #FFFFFF;
  border-radius: 2px;

  &:hover{
    background-color: lighten(#E2E4E6, 5%);
  }
}

.is-being-dragged{
  opacity: 0.6;
}

.is-being-dragged-over{
  border: 1px dashed #000000;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.board-link{
  padding: 10px;
  background-color: #E2E4E6;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
}

@import "overlay-popup";